{% extends "_layouts/default.njk" %}

{% block body %}
  <!-- em SessionController.js criamos uma session obj com nome de user Aqui, estamos resgatando a informação dentro se user.name -->
  <div class="content">
    <strong>Olá,
      {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo:</p>
    <ul class="providers">
      {% for provider in providers %}
        <li class="provider">
          <div>
            <img src="/files/{{ provider.avatar }}"/>
            <strong>{{ provider.name }}</strong>
          </div>
          <a href="">+</a>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
