<h1>Listagem de usuários</h1>

<ul>
<!-- identificara a var <users> e jogará cada item dentro de <user> -->
  {% for user in users %}
    <li>{{ user }}</li>
  {% endfor %}
</ul>

<a href="/new">Cadastrar usuário</a>